{
  "openapi": "3.1.0",
  "info": {
    "title": "CloudCDN API",
    "description": "# CloudCDN API\n\nEnterprise-grade asset delivery on Cloudflare's global edge network. 300+ PoPs, sub-100ms TTFB, 1,400+ assets across 54 tenant zones.\n\n## Quickstart\n\n```bash\n# List all assets\ncurl -H 'AccessKey: YOUR_KEY' https://cloudcdn.pro/api/assets\n\n# Upload a file\ncurl -X PUT -H 'AccessKey: YOUR_KEY' \\\n  -T logo.svg \\\n  https://cloudcdn.pro/api/storage/clients/myproject/v1/logos/logo.svg\n\n# Transform an image\ncurl 'https://cloudcdn.pro/api/transform?url=/myproject/v1/logos/logo.svg&w=400&format=webp'\n```\n\n## Authentication\n\nCloudCDN uses two separate API keys to isolate data-plane and control-plane access:\n\n| Key | Header | Scope |\n|-----|--------|-------|\n| **AccessKey** | `AccessKey` | Storage, Assets — upload, download, browse |\n| **AccountKey** | `AccountKey` | Core, Insights — zones, domains, rules, analytics |\n\nPass the key in the request header:\n\n```bash\ncurl -H 'AccessKey: sk_live_abc123' https://cloudcdn.pro/api/assets\n```\n\nPublic endpoints (Transform, Auto-format, Search, Chat) require no authentication.\n\n## Base URL\n\n| Environment | URL |\n|-------------|-----|\n| Production | `https://cloudcdn.pro` |\n| Local Dev | `http://localhost:8788` |\n\n## Client Libraries\n\nPre-built client libraries for every endpoint. Copy-paste ready.\n\n### JavaScript (ES Module)\n\n```javascript\nimport { listAssets, storageUpload, transformImage } from './clients/javascript.js';\n\n// List all SVG assets\nconst result = await listAssets({ format: 'svg', per_page: 50 });\nconsole.log(result.Data);\n\n// Upload a file\nawait storageUpload('clients/myproject/v1/logos/logo.svg', fileBuffer);\n\n// Transform on the fly\nconst img = await transformImage({ url: '/myproject/v1/logos/logo.svg', w: 400, format: 'webp' });\n```\n\n[Download javascript.js](/api-reference/clients/javascript.js)\n\n### TypeScript\n\n```typescript\nimport { listAssets, type ListAssetsParams } from './clients/typescript';\n\nconst params: ListAssetsParams = { project: 'akande', format: 'svg' };\nconst result = await listAssets(params);\n```\n\n[Download typescript.ts](/api-reference/clients/typescript.ts)\n\n### Python\n\n```python\nfrom clients.python import list_assets, storage_upload\n\nassets = list_assets(project='akande', format='svg')\nfor asset in assets['Data']:\n    print(asset['Path'])\n```\n\n[Download python.py](/api-reference/clients/python.py)\n\n### cURL\n\n```bash\n# List all SVG assets\ncurl -s -H 'AccessKey: sk_live_abc123' \\\n  'https://cloudcdn.pro/api/assets?format=svg&per_page=50'\n\n# Upload a file\ncurl -X PUT -H 'AccessKey: sk_live_abc123' \\\n  -H 'Content-Type: image/svg+xml' \\\n  -T ./logo.svg \\\n  'https://cloudcdn.pro/api/storage/clients/myproject/v1/logos/logo.svg'\n\n# Transform an image (public — no key needed)\ncurl -o thumbnail.webp \\\n  'https://cloudcdn.pro/api/transform?url=/myproject/v1/logos/logo.svg&w=400&format=webp'\n\n# Create a zone\ncurl -X POST -H 'AccountKey: ak_live_xyz789' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"Name\": \"newclient\"}' \\\n  'https://cloudcdn.pro/api/core/zones'\n\n# Purge cache by tag\ncurl -X POST -H 'x-api-key: pk_live_purge' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"tags\": [\"project-akande\"]}' \\\n  'https://cloudcdn.pro/api/purge'\n```\n\n### Shell Helper\n\nSource the shell client for reusable functions:\n\n```bash\nsource clients/curl.sh\nexport CLOUDCDN_ACCESS_KEY='sk_live_abc123'\nlistAssets   # calls GET /api/assets\n```\n\n[Download curl.sh](/api-reference/clients/curl.sh)\n\n## Rate Limits\n\n| Endpoint | Limit |\n|----------|-------|\n| Image Transform | 50,000/month |\n| Cache Purge | 100/day |\n| Chat Concierge | 1,000/month |\n| Storage Upload | No hard limit (GitHub API rate applies) |\n| Asset Catalog | No limit (manifest cached 30s) |\n\n## API Planes\n\n| Plane | Prefix | Purpose |\n|-------|--------|---------|\n| **Storage** | `/api/storage/` | File upload, download, delete, batch |\n| **Core** | `/api/core/` | Zones, domains, rules, statistics |\n| **Assets** | `/api/assets` | Read-only catalog, metadata |\n| **Insights** | `/api/insights/` | Analytics, top assets, geo, errors |\n| **Delivery** | `/api/transform`, `/api/auto`, `/api/signed`, `/api/stream`, `/api/purge` | Edge transforms, format negotiation, signed URLs, HLS, cache |\n| **AI** | `/api/search`, `/api/chat` | Semantic search, RAG concierge |",
    "version": "2026-04-01",
    "contact": {
      "email": "support@cloudcdn.pro"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/sebastienrousseau/cloudcdn.pro/blob/main/LICENSE"
    },
    "x-logo": {
      "url": "https://cloudcdn.pro/cloudcdn/v1/logos/cloudcdn.svg",
      "altText": "CloudCDN"
    }
  },
  "servers": [
    {
      "url": "https://cloudcdn.pro",
      "description": "Production edge network"
    },
    {
      "url": "http://localhost:8788",
      "description": "Local development"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Storage",
      "description": "## Storage API\n\nUpload, download, and manage files across your CDN. The Storage API is the write layer — every file mutation flows through here.\n\n### How it works\n\n1. **Upload** a file with `PUT /api/storage/{path}` — committed to the repository via the GitHub Git API\n2. **The CI/CD pipeline** deploys it to 300+ edge locations (~60-90 seconds)\n3. **Download** it instantly via `GET /api/storage/{path}` or the public CDN URL\n\n### Quick start\n\n```bash\n# Upload an SVG logo\ncurl -X PUT -H \"AccessKey: YOUR_KEY\" \\\n  -H \"Content-Type: image/svg+xml\" \\\n  -T ./logo.svg \\\n  https://cloudcdn.pro/api/storage/clients/myproject/v1/logos/logo.svg\n\n# List a directory\ncurl -H \"AccessKey: YOUR_KEY\" \\\n  https://cloudcdn.pro/api/storage/clients/myproject/v1/logos/\n\n# Batch upload (single atomic commit)\ncurl -X POST -H \"AccessKey: YOUR_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{ \"files\": [{ \"path\": \"clients/myproject/v1/logos/logo.svg\", \"content\": \"PHN2Zy4uLg==\", \"encoding\": \"base64\" }] }' \\\n  https://cloudcdn.pro/api/storage/batch\n```\n\n### Authentication\n\nAll Storage endpoints require an **AccessKey** header. This key grants read/write access to files but cannot modify zones or edge configuration.\n\n### Limits\n\n| Limit | Value |\n|-------|-------|\n| Max file size | 25 MB |\n| Max batch size | 50 files |\n| Checksum verification | SHA-256 (optional) |\n| Edge sync | ~60-90 seconds after commit |"
    },
    {
      "name": "Assets",
      "description": "## Assets API\n\nBrowse and search your entire asset catalog. The Assets API is the read-only layer — it queries the auto-generated manifest for instant, filterable access to every file on your CDN.\n\n### How it works\n\nEvery time a file changes, the manifest regenerates automatically. The Assets API reads this manifest (cached 30 seconds at the edge) and provides:\n\n- **Paginated listing** — filter by project, category, format\n- **Full-text search** — across filenames and paths\n- **Per-asset metadata** — size, content type, CDN URL, available formats\n\n### Quick start\n\n```bash\n# List all SVG assets sorted by size\ncurl -H \"AccessKey: YOUR_KEY\" \\\n  'https://cloudcdn.pro/api/assets?format=svg&sort=size&order=desc'\n\n# Search for banking logos\ncurl -H \"AccessKey: YOUR_KEY\" \\\n  'https://cloudcdn.pro/api/assets?q=banking+logo'\n\n# Get metadata for a specific asset\ncurl -H \"AccessKey: YOUR_KEY\" \\\n  'https://cloudcdn.pro/api/assets/metadata?path=akande/v1/logos/akande.svg'\n```\n\n### Pagination\n\nResults paginate with `page` and `per_page` (max 200). The response includes `Pagination.TotalItems`, `Pagination.TotalPages`, and the current page."
    },
    {
      "name": "Core",
      "description": "## Core API\n\nManage your CDN infrastructure — zones, domains, edge rules, and statistics. The Core API is the control plane for platform administrators.\n\n### Zones\n\nA **zone** is a tenant namespace (e.g., `akande`, `bankingonai`). Each zone maps to a directory with a standardized structure:\n\n```\nclients/{zone}/v1/\n  banners/    — Hero images and promotional banners\n  github/     — Social card images for GitHub\n  icons/      — PWA icons (180, 192, 512)\n  logos/       — Brand logos (SVG source)\n  titles/      — Title card images\n```\n\n### Quick start\n\n```bash\n# Create a new zone\ncurl -X POST -H \"AccountKey: YOUR_KEY\" \\\n  -d '{ \"Name\": \"newclient\" }' \\\n  https://cloudcdn.pro/api/core/zones\n\n# Add a custom domain\ncurl -X POST -H \"AccountKey: YOUR_KEY\" \\\n  -d '{ \"Hostname\": \"cdn.newclient.com\" }' \\\n  https://cloudcdn.pro/api/core/zones/newclient/domains\n\n# Update edge caching rules\ncurl -X POST -H \"AccountKey: YOUR_KEY\" \\\n  -d '{ \"File\": \"_headers\", \"Content\": \"/*.webp\\n  Cache-Control: public, max-age=86400\" }' \\\n  https://cloudcdn.pro/api/core/rules\n```\n\n### Authentication\n\nAll Core endpoints require an **AccountKey** header. This is the admin key — it can create/delete zones, manage domains, and modify edge rules. Never share it with CI/CD bots.\n\n### Reserved zone names\n\nThese names cannot be used: `stocks`, `shared`, `website`, `functions`, `api`, `dashboard`, `dist`, `content`, `global`, `clients`."
    },
    {
      "name": "Insights",
      "description": "## Insights API\n\nMonitor your CDN performance in real time. The Insights API provides analytics data collected by the edge middleware on every asset request.\n\n### What is tracked\n\n| Metric | Description |\n|--------|-------------|\n| **Requests** | Total hits per day |\n| **Bandwidth** | Estimated bytes served |\n| **Cache ratio** | Edge hits vs origin misses |\n| **Geography** | Requests by country code |\n| **Top assets** | Most requested files |\n| **Errors** | 4xx/5xx breakdown with paths |\n\n### Quick start\n\n```bash\n# 7-day summary\ncurl -H \"AccountKey: YOUR_KEY\" \\\n  https://cloudcdn.pro/api/insights/summary?days=7\n\n# Top 20 assets this month\ncurl -H \"AccountKey: YOUR_KEY\" \\\n  https://cloudcdn.pro/api/insights/top-assets?days=30&limit=20\n\n# Geographic distribution\ncurl -H \"AccountKey: YOUR_KEY\" \\\n  https://cloudcdn.pro/api/insights/geography?days=7\n\n# Error tracking\ncurl -H \"AccountKey: YOUR_KEY\" \\\n  https://cloudcdn.pro/api/insights/errors?days=7\n```\n\n### Per-zone filtering\n\nAdd `?zone=akande` to any endpoint to filter analytics for a specific tenant.\n\n### Authentication\n\nInsights accept either **AccountKey** or **AccessKey** — read-only and safe for dashboards."
    },
    {
      "name": "Delivery",
      "description": "## Delivery API\n\nTransform, optimize, and deliver assets at the edge. These endpoints run on Cloudflare's global network — results are cached at 300+ locations worldwide.\n\n### Image Transformation\n\nResize, convert, blur, and sharpen any image on the fly:\n\n```\nhttps://cloudcdn.pro/api/transform?url=/akande/v1/logos/akande.svg&w=400&format=webp&q=85\n```\n\n| Parameter | Range | Description |\n|-----------|-------|-------------|\n| `w` | 1–8192 | Width in pixels |\n| `h` | 1–8192 | Height in pixels |\n| `fit` | cover, contain, fill | Resize behavior |\n| `format` | webp, avif, png, jpeg, auto | Output format |\n| `q` | 1–100 | Quality (lower = smaller file) |\n| `blur` | 1–250 | Gaussian blur radius |\n| `sharpen` | 1–10 | Sharpening amount |\n| `gravity` | center, face, auto | Crop focus point |\n\n### Automatic Format Negotiation\n\nRequest any image without a format — the edge reads the browser's `Accept` header and serves the optimal format (AVIF > WebP > PNG):\n\n```\nhttps://cloudcdn.pro/api/auto?path=/akande/v1/logos/akande\n```\n\n### Signed URLs\n\nProtect premium assets with time-limited, HMAC-signed URLs that expire automatically.\n\n### Video Streaming (HLS)\n\nAdaptive bitrate video via HTTP Live Streaming playlists.\n\n### Cache Purge\n\nInstantly invalidate assets by URL, surrogate tag, or purge everything.\n\n### No authentication required\n\nAll Delivery endpoints are public — they are the URLs your end users hit directly. Rate limits prevent abuse (50,000 transforms/month, 100 purges/day)."
    },
    {
      "name": "AI",
      "description": "## AI Services\n\nSearch and explore your asset catalog using natural language. Powered by Cloudflare Workers AI and Vectorize.\n\n### Semantic Search\n\nFind assets by description, not filename:\n\n```bash\n# Find dark banking backgrounds\ncurl 'https://cloudcdn.pro/api/search?q=dark+blue+banking+background'\n\n# Find minimalist logos\ncurl 'https://cloudcdn.pro/api/search?q=minimalist+logo+svg'\n```\n\nThe engine uses a hybrid approach: vector similarity (Vectorize embeddings) with fuzzy text fallback. Results are scored and ranked by relevance.\n\n### AI Concierge\n\nAn intelligent chat assistant that knows your entire CDN — pricing, setup, performance, compliance, and troubleshooting. Powered by RAG over the knowledge base.\n\n```bash\ncurl -X POST -H \"Content-Type: application/json\" \\\n  -d '{ \"message\": \"How do I set up custom domains?\", \"history\": [] }' \\\n  https://cloudcdn.pro/api/chat\n```\n\n### No authentication required\n\nAI endpoints are public. Rate limits: 1,000 chat queries/month, 100 search requests/minute."
    }
  ],
  "x-tagGroups": [
    {
      "name": "Data Plane",
      "tags": [
        "Storage",
        "Assets"
      ]
    },
    {
      "name": "Control Plane",
      "tags": [
        "Core",
        "Insights"
      ]
    },
    {
      "name": "Edge Services",
      "tags": [
        "Delivery",
        "AI"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "AccountKey": {
        "type": "apiKey",
        "in": "header",
        "name": "AccountKey",
        "description": "Administrative API key for core management endpoints (zones, rules, statistics). Set via the ACCOUNT_KEY environment variable."
      },
      "AccessKey": {
        "type": "apiKey",
        "in": "header",
        "name": "AccessKey",
        "description": "Storage and asset access key. Set via the STORAGE_KEY environment variable. Also accepted on Insights endpoints."
      },
      "PurgeKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Purge endpoint API key. Set via the PURGE_KEY environment variable."
      },
      "AnalyticsKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Analytics reporting API key. Set via the ANALYTICS_KEY environment variable."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error response following Microsoft API Guidelines and RFC 9457. Includes machine-readable error code, human-readable message, request tracing, and optional inner error details.",
        "properties": {
          "error": {
            "type": "object",
            "description": "Error object containing structured error details.",
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code for programmatic handling.",
                "example": "InvalidParameter"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error description with remediation guidance (150+ characters).",
                "example": "The request body contains invalid JSON and could not be parsed. Verify the payload is well-formed JSON with correct syntax."
              },
              "target": {
                "type": "string",
                "nullable": true,
                "description": "The target of the error (e.g., the field name that caused the error).",
                "example": "url"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Additional error details for validation errors."
              },
              "innererror": {
                "type": "object",
                "nullable": true,
                "description": "Internal error details for debugging (only in non-production)."
              }
            },
            "required": [
              "code",
              "message"
            ]
          },
          "HttpCode": {
            "type": "integer",
            "description": "HTTP status code.",
            "example": 400
          },
          "Message": {
            "type": "string",
            "description": "Human-readable error message (duplicate of error.message for backward compatibility).",
            "example": "Invalid request"
          },
          "requestId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique request identifier for support and debugging.",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the error occurred.",
            "example": "2026-04-05T12:00:00.000Z"
          },
          "apiVersion": {
            "type": "string",
            "description": "API version that processed the request.",
            "example": "2026-04-01"
          }
        },
        "required": [
          "error",
          "HttpCode",
          "Message",
          "requestId",
          "timestamp"
        ]
      },
      "JsonErrorResponse": {
        "type": "object",
        "description": "Simplified JSON error response used by public-facing endpoints (transform, auto, search, chat, purge) that return a single error string.",
        "properties": {
          "error": {
            "type": "string",
            "example": "Missing required parameter: url"
          }
        },
        "required": [
          "error"
        ]
      },
      "Pagination": {
        "type": "object",
        "description": "Pagination metadata included in paginated list responses. Provides current page, page size, total item count, and total page count for client-side navigation.",
        "properties": {
          "Page": {
            "type": "integer",
            "description": "Current page number (1-based)",
            "example": 1
          },
          "PerPage": {
            "type": "integer",
            "description": "Number of items per page",
            "example": 50
          },
          "TotalItems": {
            "type": "integer",
            "description": "Total number of items matching the query across all pages",
            "example": 342
          },
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available",
            "example": 7
          }
        }
      },
      "AssetEntry": {
        "type": "object",
        "description": "A single asset entry in the catalog. Represents a file stored on the CDN with its name, full path, owning project, category classification, file format, and byte size.",
        "properties": {
          "name": {
            "type": "string",
            "description": "File name including extension",
            "example": "logo.svg"
          },
          "path": {
            "type": "string",
            "description": "Full path within the CDN asset tree",
            "example": "akande/v1/logos/logo.svg"
          },
          "project": {
            "type": "string",
            "description": "Project/zone that owns this asset",
            "example": "akande"
          },
          "category": {
            "type": "string",
            "description": "Asset category (e.g., logos, banners, icons)",
            "example": "logos"
          },
          "format": {
            "type": "string",
            "description": "File format/extension",
            "example": "svg"
          },
          "size": {
            "type": "integer",
            "description": "File size in bytes",
            "example": 4523
          }
        }
      },
      "AssetMetadata": {
        "type": "object",
        "description": "Detailed metadata for a single asset, including CDN delivery URL, transform URL, available format variants, content type, and human-readable size. Used by the asset detail endpoint.",
        "properties": {
          "Path": {
            "type": "string",
            "description": "Full asset path within the CDN tree",
            "example": "akande/v1/logos/logo.svg"
          },
          "Name": {
            "type": "string",
            "description": "File name including extension",
            "example": "logo.svg"
          },
          "Project": {
            "type": "string",
            "description": "Project/zone that owns this asset",
            "example": "akande"
          },
          "Category": {
            "type": "string",
            "description": "Asset category classification",
            "example": "logos"
          },
          "Format": {
            "type": "string",
            "description": "Primary file format/extension",
            "example": "svg"
          },
          "Size": {
            "type": "integer",
            "description": "File size in bytes",
            "example": 4523
          },
          "SizeHuman": {
            "type": "string",
            "description": "Human-readable file size",
            "example": "4.4 KB"
          },
          "ContentType": {
            "type": "string",
            "description": "MIME content type",
            "example": "image/svg+xml"
          },
          "CdnUrl": {
            "type": "string",
            "format": "uri",
            "description": "Direct CDN delivery URL for this asset",
            "example": "https://cloudcdn.pro/akande/v1/logos/logo.svg"
          },
          "TransformUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the transform endpoint pre-populated with this asset",
            "example": "https://cloudcdn.pro/api/transform?url=/akande/v1/logos/logo.svg"
          },
          "AvailableFormats": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of format variants available for this asset",
            "example": [
              "svg",
              "png",
              "webp"
            ]
          },
          "DateFetched": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when metadata was retrieved",
            "example": "2026-04-04T12:00:00.000Z"
          }
        }
      },
      "StorageFileEntry": {
        "type": "object",
        "description": "A file or directory entry in the storage system. Uses the Bunny.net-compatible format with GUID, storage zone info, path, size, timestamps, and directory flag for recursive listing.",
        "properties": {
          "Guid": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for this storage entry",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "StorageZoneName": {
            "type": "string",
            "description": "Name of the storage zone containing this entry",
            "example": "cloudcdn"
          },
          "Path": {
            "type": "string",
            "description": "Directory path within the storage zone (always ends with /)",
            "example": "/clients/akande/v1/logos/"
          },
          "ObjectName": {
            "type": "string",
            "description": "File or directory name",
            "example": "logo.svg"
          },
          "Length": {
            "type": "integer",
            "description": "File size in bytes (0 for directories)",
            "example": 4523
          },
          "LastChanged": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last modification",
            "example": "2026-04-04T12:00:00.000Z"
          },
          "ServerId": {
            "type": "integer",
            "description": "Internal server identifier (always 0 for GitOps storage)",
            "example": 0
          },
          "ArrayNumber": {
            "type": "integer",
            "description": "Internal array number (always 0 for GitOps storage)",
            "example": 0
          },
          "IsDirectory": {
            "type": "boolean",
            "description": "Whether this entry represents a directory rather than a file",
            "example": false
          },
          "UserId": {
            "type": "string",
            "description": "Owning user/storage zone identifier",
            "example": "cloudcdn"
          },
          "ContentType": {
            "type": "string",
            "description": "MIME content type (empty string for directories)",
            "example": ""
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the file was first created",
            "example": "2026-04-04T12:00:00.000Z"
          },
          "StorageZoneId": {
            "type": "integer",
            "description": "Numeric storage zone identifier (always 0 for GitOps storage)",
            "example": 0
          },
          "Checksum": {
            "type": [
              "string",
              "null"
            ],
            "description": "SHA-256 checksum of the file contents, or null if not computed",
            "example": null
          },
          "ReplicatedZones": {
            "type": "string",
            "description": "Comma-separated list of replication zones (empty for single-region)",
            "example": ""
          }
        }
      },
      "UploadResponse": {
        "type": "object",
        "description": "Response returned after a successful file upload. Contains the committed file path, size, optional checksum, creation timestamp, and edge deployment status.",
        "properties": {
          "HttpCode": {
            "type": "integer",
            "description": "HTTP status code (201 for successful upload)",
            "example": 201
          },
          "Message": {
            "type": "string",
            "description": "Human-readable success message",
            "example": "File uploaded successfully"
          },
          "Path": {
            "type": "string",
            "description": "Committed file path within the storage tree",
            "example": "akande/v1/logos/new-logo.svg"
          },
          "Length": {
            "type": "integer",
            "description": "File size in bytes",
            "example": 8192
          },
          "Checksum": {
            "type": [
              "string",
              "null"
            ],
            "description": "SHA-256 checksum if provided in the request, otherwise null",
            "example": null
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the file was committed",
            "example": "2026-04-04T12:00:00.000Z"
          },
          "EdgeStatus": {
            "type": "string",
            "enum": [
              "pending",
              "purging"
            ],
            "description": "Edge deployment status: pending (new file) or purging (overwrite triggering cache invalidation)",
            "example": "pending"
          },
          "EdgeNote": {
            "type": "string",
            "description": "Informational note about edge availability timeline",
            "example": "File committed to repository. It will be available at the edge after the CI/CD pipeline deploys (~60-90 seconds)."
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "description": "Response returned after a successful file deletion. Includes the removed file path and edge cache purge status.",
        "properties": {
          "HttpCode": {
            "type": "integer",
            "description": "HTTP status code (200 for successful deletion)",
            "example": 200
          },
          "Message": {
            "type": "string",
            "description": "Human-readable success message",
            "example": "File deleted successfully"
          },
          "Path": {
            "type": "string",
            "description": "Path of the deleted file",
            "example": "akande/v1/logos/old-logo.svg"
          },
          "EdgeStatus": {
            "type": "string",
            "enum": [
              "pending",
              "purging"
            ],
            "description": "Edge cache purge status (always purging for deletes)",
            "example": "purging"
          },
          "EdgeNote": {
            "type": "string",
            "description": "Informational note about edge cache purge timeline",
            "example": "File removed from repository and edge cache purge initiated."
          }
        }
      },
      "BatchUploadRequest": {
        "type": "object",
        "description": "Request body for batch file upload. Contains an array of up to 50 files, each with a destination path, content (base64 or UTF-8 encoded), and optional encoding specification.",
        "required": [
          "files"
        ],
        "properties": {
          "files": {
            "type": "array",
            "maxItems": 50,
            "description": "Array of files to upload in a single atomic Git commit",
            "items": {
              "type": "object",
              "required": [
                "path",
                "content"
              ],
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Destination path in the repository",
                  "example": "clients/akande/v1/logos/new.svg"
                },
                "content": {
                  "type": "string",
                  "description": "File content (base64 encoded by default)",
                  "example": "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjwvc3ZnPg=="
                },
                "encoding": {
                  "type": "string",
                  "enum": [
                    "base64",
                    "utf-8"
                  ],
                  "default": "base64",
                  "description": "Content encoding"
                }
              }
            }
          }
        }
      },
      "BatchUploadResponse": {
        "type": "object",
        "description": "Response returned after a successful batch upload. Contains the Git commit SHA, list of committed file paths, and edge deployment status for the entire batch.",
        "properties": {
          "HttpCode": {
            "type": "integer",
            "description": "HTTP status code (201 for successful batch upload)",
            "example": 201
          },
          "Message": {
            "type": "string",
            "description": "Human-readable success message with file count",
            "example": "3 file(s) uploaded in a single commit"
          },
          "Commit": {
            "type": "string",
            "description": "Git commit SHA for the batch operation",
            "example": "abc123def456"
          },
          "Files": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of file paths that were committed",
            "example": [
              "clients/akande/v1/logos/a.svg",
              "clients/akande/v1/logos/b.svg"
            ]
          },
          "EdgeStatus": {
            "type": "string",
            "description": "Edge deployment status for the batch",
            "example": "pending"
          },
          "EdgeNote": {
            "type": "string",
            "description": "Informational note about edge availability timeline",
            "example": "Files committed. Available at the edge after CI/CD deploy (~60-90 seconds)."
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the batch commit was created",
            "example": "2026-04-04T12:00:00.000Z"
          }
        }
      },
      "Zone": {
        "type": "object",
        "description": "Summary representation of a tenant zone (client project). Contains zone identity, storage zone binding, origin URL, aggregate file count and storage usage, asset categories, and operational status.",
        "properties": {
          "Id": {
            "type": "string",
            "description": "Unique zone identifier (same as the project name)",
            "example": "akande"
          },
          "Name": {
            "type": "string",
            "description": "Human-readable zone name",
            "example": "akande"
          },
          "StorageZoneName": {
            "type": "string",
            "description": "Name of the backing storage zone",
            "example": "cloudcdn"
          },
          "OriginUrl": {
            "type": "string",
            "format": "uri",
            "description": "CDN origin URL for this zone",
            "example": "https://cloudcdn.pro/akande/"
          },
          "FileCount": {
            "type": "integer",
            "description": "Total number of files in the zone",
            "example": 45
          },
          "StorageUsed": {
            "type": "integer",
            "description": "Total storage in bytes",
            "example": 2457600
          },
          "StorageUsedHuman": {
            "type": "string",
            "description": "Human-readable total storage size",
            "example": "2.3 MB"
          },
          "Categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Distinct asset categories present in the zone",
            "example": [
              "banners",
              "icons",
              "logos"
            ]
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the zone was created",
            "example": "2026-04-04T12:00:00.000Z"
          },
          "Enabled": {
            "type": "boolean",
            "description": "Whether the zone is currently enabled for serving",
            "example": true
          },
          "Suspended": {
            "type": "boolean",
            "description": "Whether the zone has been suspended (e.g., for abuse)",
            "example": false
          }
        }
      },
      "ZoneDetail": {
        "type": "object",
        "description": "Detailed zone representation including the full file listing, available formats, and all categories. Extends the Zone summary with per-file metadata for administrative use.",
        "properties": {
          "Id": {
            "type": "string",
            "description": "Unique zone identifier",
            "example": "akande"
          },
          "Name": {
            "type": "string",
            "description": "Human-readable zone name",
            "example": "akande"
          },
          "StorageZoneName": {
            "type": "string",
            "description": "Name of the backing storage zone",
            "example": "cloudcdn"
          },
          "OriginUrl": {
            "type": "string",
            "format": "uri",
            "description": "CDN origin URL for this zone",
            "example": "https://cloudcdn.pro/akande/"
          },
          "FileCount": {
            "type": "integer",
            "description": "Total number of files in the zone",
            "example": 45
          },
          "StorageUsed": {
            "type": "integer",
            "description": "Total storage in bytes",
            "example": 2457600
          },
          "StorageUsedHuman": {
            "type": "string",
            "description": "Human-readable total storage size",
            "example": "2.3 MB"
          },
          "Categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Distinct asset categories present in the zone",
            "example": [
              "banners",
              "icons",
              "logos"
            ]
          },
          "Formats": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Distinct file formats present in the zone",
            "example": [
              "png",
              "svg",
              "webp"
            ]
          },
          "Files": {
            "type": "array",
            "description": "Complete list of files in the zone with per-file metadata",
            "items": {
              "type": "object",
              "description": "Individual file entry within a zone detail listing",
              "properties": {
                "Path": {
                  "type": "string",
                  "description": "Full file path within the CDN tree"
                },
                "Name": {
                  "type": "string",
                  "description": "File name including extension"
                },
                "Format": {
                  "type": "string",
                  "description": "File format/extension"
                },
                "Size": {
                  "type": "integer",
                  "description": "File size in bytes"
                },
                "Category": {
                  "type": "string",
                  "description": "Asset category classification"
                }
              }
            }
          },
          "Enabled": {
            "type": "boolean",
            "description": "Whether the zone is currently enabled for serving",
            "example": true
          },
          "Suspended": {
            "type": "boolean",
            "description": "Whether the zone has been suspended",
            "example": false
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the zone was created",
            "example": "2026-04-04T12:00:00.000Z"
          }
        }
      },
      "ZoneCreateRequest": {
        "type": "object",
        "description": "Request body for creating a new tenant zone. The zone name must be 2-64 lowercase alphanumeric characters with hyphens, and must not already exist.",
        "required": [
          "Name"
        ],
        "properties": {
          "Name": {
            "type": "string",
            "description": "Zone name: 2-64 alphanumeric characters with hyphens",
            "pattern": "^[a-z0-9-]{2,64}$",
            "example": "newclient"
          }
        }
      },
      "ZoneCreateResponse": {
        "type": "object",
        "description": "Response returned after a successful zone creation. Includes the Git commit SHA, scaffolded directories, and edge deployment status.",
        "properties": {
          "HttpCode": {
            "type": "integer",
            "description": "HTTP status code (201 for successful creation)",
            "example": 201
          },
          "Message": {
            "type": "string",
            "description": "Human-readable success message",
            "example": "Zone 'newclient' created successfully"
          },
          "Id": {
            "type": "string",
            "description": "Unique zone identifier",
            "example": "newclient"
          },
          "Name": {
            "type": "string",
            "description": "Zone name",
            "example": "newclient"
          },
          "OriginUrl": {
            "type": "string",
            "format": "uri",
            "description": "CDN origin URL for the new zone",
            "example": "https://cloudcdn.pro/newclient/"
          },
          "Commit": {
            "type": "string",
            "description": "Git commit SHA for the zone creation",
            "example": "abc123def456"
          },
          "Directories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Standard v1/ directories scaffolded for the new zone",
            "example": [
              "banners",
              "github",
              "icons",
              "logos",
              "titles"
            ]
          },
          "EdgeStatus": {
            "type": "string",
            "description": "Edge deployment status",
            "example": "pending"
          },
          "EdgeNote": {
            "type": "string",
            "description": "Informational note about edge availability timeline",
            "example": "Zone will be live after CI/CD deploy (~60-90 seconds)."
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the zone was created",
            "example": "2026-04-04T12:00:00.000Z"
          }
        }
      },
      "ZoneDeleteResponse": {
        "type": "object",
        "description": "Response returned after a successful zone deletion. Includes the Git commit SHA, number of files removed, and edge cache purge status.",
        "properties": {
          "HttpCode": {
            "type": "integer",
            "description": "HTTP status code (200 for successful deletion)",
            "example": 200
          },
          "Message": {
            "type": "string",
            "description": "Human-readable success message with file removal count",
            "example": "Zone 'oldclient' deleted (12 files removed)"
          },
          "Commit": {
            "type": "string",
            "description": "Git commit SHA for the deletion",
            "example": "abc123def456"
          },
          "FilesRemoved": {
            "type": "integer",
            "description": "Number of files removed in the deletion",
            "example": 12
          },
          "EdgeStatus": {
            "type": "string",
            "description": "Edge cache purge status (always purging for zone deletes)",
            "example": "purging"
          }
        }
      },
      "DomainAddRequest": {
        "type": "object",
        "description": "Request body for adding a custom domain to a zone. The hostname must be a fully qualified domain name with a CNAME record pointing to cloudcdn-pro.pages.dev.",
        "required": [
          "Hostname"
        ],
        "properties": {
          "Hostname": {
            "type": "string",
            "description": "Fully qualified domain name",
            "example": "cdn.akande.com"
          }
        }
      },
      "DomainAddResponse": {
        "type": "object",
        "description": "Response returned after successfully adding a custom domain to a zone. Includes SSL provisioning status and CNAME configuration instructions.",
        "properties": {
          "HttpCode": {
            "type": "integer",
            "description": "HTTP status code (201 for successful domain addition)",
            "example": 201
          },
          "Message": {
            "type": "string",
            "description": "Human-readable success message",
            "example": "Custom domain 'cdn.akande.com' added successfully"
          },
          "Zone": {
            "type": "string",
            "description": "Zone the domain was added to",
            "example": "akande"
          },
          "Hostname": {
            "type": "string",
            "description": "The custom domain hostname that was added",
            "example": "cdn.akande.com"
          },
          "SslStatus": {
            "type": "string",
            "description": "SSL certificate provisioning status",
            "example": "provisioning"
          },
          "Note": {
            "type": "string",
            "description": "Instructions for DNS configuration",
            "example": "SSL certificate will be provisioned automatically. Point your CNAME to cloudcdn-pro.pages.dev."
          },
          "DateCreated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the domain was added",
            "example": "2026-04-04T12:00:00.000Z"
          }
        }
      },
      "StatisticsResponse": {
        "type": "object",
        "description": "Comprehensive edge statistics response including request counts, bandwidth, cache ratios, top assets, and geographic distribution over the specified time period.",
        "properties": {
          "Period": {
            "type": "object",
            "description": "Time period and scope of the statistics",
            "properties": {
              "Days": {
                "type": "integer",
                "description": "Number of days included in the report",
                "example": 7
              },
              "Zone": {
                "type": "string",
                "description": "Zone filter applied (or 'all' for aggregate)",
                "example": "all"
              }
            }
          },
          "Summary": {
            "type": "object",
            "description": "Aggregate summary metrics for the period",
            "properties": {
              "TotalRequests": {
                "type": "integer",
                "description": "Total number of requests served",
                "example": 125000
              },
              "TotalBandwidth": {
                "type": "integer",
                "description": "Total bandwidth in bytes",
                "example": 5368709120
              },
              "TotalBandwidthHuman": {
                "type": "string",
                "description": "Human-readable total bandwidth",
                "example": "5.00 GB"
              },
              "CacheHitRate": {
                "type": "string",
                "description": "Percentage of requests served from cache",
                "example": "94.2%"
              },
              "UniqueCountries": {
                "type": "integer",
                "description": "Number of distinct countries that sent requests",
                "example": 42
              }
            }
          },
          "Daily": {
            "type": "array",
            "description": "Per-day breakdown of request and bandwidth metrics",
            "items": {
              "type": "object",
              "description": "Daily statistics for a single day",
              "properties": {
                "Date": {
                  "type": "string",
                  "format": "date",
                  "description": "Date in ISO 8601 format",
                  "example": "2026-04-03"
                },
                "TotalRequests": {
                  "type": "integer",
                  "description": "Total requests on this day",
                  "example": 18000
                },
                "Bandwidth": {
                  "type": "integer",
                  "description": "Bandwidth in bytes on this day",
                  "example": 768000000
                },
                "BandwidthHuman": {
                  "type": "string",
                  "description": "Human-readable bandwidth for this day",
                  "example": "732.4 MB"
                },
                "CacheHit": {
                  "type": "integer",
                  "description": "Number of cache hits on this day",
                  "example": 17000
                },
                "CacheMiss": {
                  "type": "integer",
                  "description": "Number of cache misses on this day",
                  "example": 1000
                }
              }
            }
          },
          "TopAssets": {
            "type": "array",
            "description": "Most-requested assets ranked by request count",
            "items": {
              "type": "object",
              "description": "A top asset entry with path and request count",
              "properties": {
                "Path": {
                  "type": "string",
                  "description": "Asset path",
                  "example": "/akande/v1/logos/logo.svg"
                },
                "Requests": {
                  "type": "integer",
                  "description": "Total request count for this asset",
                  "example": 5400
                }
              }
            }
          },
          "GeoDistribution": {
            "type": "array",
            "description": "Request counts by country, sorted descending by volume",
            "items": {
              "type": "object",
              "description": "Geographic distribution entry with country code and request count",
              "properties": {
                "CountryCode": {
                  "type": "string",
                  "description": "ISO 3166-1 alpha-2 country code",
                  "example": "US"
                },
                "Requests": {
                  "type": "integer",
                  "description": "Total requests from this country",
                  "example": 45000
                }
              }
            }
          }
        }
      },
      "RulesResponse": {
        "type": "object",
        "description": "Current edge rules configuration containing the contents of _headers and _redirects files, the list of editable rule files, and a fetch timestamp.",
        "properties": {
          "Headers": {
            "type": [
              "string",
              "null"
            ],
            "description": "Contents of the _headers file",
            "example": "/*.webp\n  Cache-Control: public, max-age=31536000, immutable"
          },
          "Redirects": {
            "type": [
              "string",
              "null"
            ],
            "description": "Contents of the _redirects file",
            "example": "/old-path /new-path 301"
          },
          "Editable": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of rule files that can be edited",
            "example": [
              "_headers",
              "_redirects"
            ]
          },
          "DateFetched": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the rules were fetched from the repository",
            "example": "2026-04-04T12:00:00.000Z"
          }
        }
      },
      "RulesUpdateRequest": {
        "type": "object",
        "description": "Request body for updating an edge rule file. Specifies which file to update (_headers or _redirects) and the new content (max 100 KB).",
        "required": [
          "File",
          "Content"
        ],
        "properties": {
          "File": {
            "type": "string",
            "enum": [
              "_headers",
              "_redirects"
            ],
            "description": "The edge rule file to update",
            "example": "_headers"
          },
          "Content": {
            "type": "string",
            "maxLength": 100000,
            "description": "New file content (max 100KB)",
            "example": "/*.webp\n  Cache-Control: public, max-age=31536000, immutable"
          }
        }
      },
      "RulesUpdateResponse": {
        "type": "object",
        "description": "Response returned after a successful edge rules update. Includes the Git commit SHA and edge deployment status.",
        "properties": {
          "HttpCode": {
            "type": "integer",
            "description": "HTTP status code (200 for successful update)",
            "example": 200
          },
          "Message": {
            "type": "string",
            "description": "Human-readable success message",
            "example": "_headers updated successfully"
          },
          "File": {
            "type": "string",
            "description": "Name of the updated rule file",
            "example": "_headers"
          },
          "Commit": {
            "type": "string",
            "description": "Git commit SHA for the update",
            "example": "abc123def456"
          },
          "EdgeStatus": {
            "type": "string",
            "description": "Edge deployment status",
            "example": "pending"
          },
          "EdgeNote": {
            "type": "string",
            "description": "Informational note about when changes take effect",
            "example": "Edge rules will take effect after CI/CD deploy (~60-90 seconds)."
          },
          "DateModified": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the rules were updated",
            "example": "2026-04-04T12:00:00.000Z"
          }
        }
      },
      "InsightsSummaryResponse": {
        "type": "object",
        "description": "Aggregate analytics summary providing total requests, bandwidth, cache hit rate, and unique country count for the specified time period and optional zone filter.",
        "properties": {
          "Period": {
            "type": "object",
            "description": "Time period and scope of the summary",
            "properties": {
              "Days": {
                "type": "integer",
                "description": "Number of days included in the summary",
                "example": 7
              },
              "Zone": {
                "type": "string",
                "description": "Zone filter applied (or 'all' for aggregate)",
                "example": "all"
              }
            }
          },
          "TotalRequests": {
            "type": "integer",
            "description": "Total number of requests served during the period",
            "example": 125000
          },
          "TotalBandwidth": {
            "type": "string",
            "description": "Human-readable total bandwidth",
            "example": "5.00 GB"
          },
          "TotalBandwidthBytes": {
            "type": "integer",
            "description": "Total bandwidth in bytes",
            "example": 5368709120
          },
          "CacheHitRate": {
            "type": "string",
            "description": "Percentage of requests served from cache",
            "example": "94.2%"
          },
          "UniqueCountries": {
            "type": "integer",
            "description": "Number of distinct countries that sent requests",
            "example": 42
          },
          "DateFetched": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the summary was generated",
            "example": "2026-04-04T12:00:00.000Z"
          }
        }
      },
      "TopAssetsResponse": {
        "type": "object",
        "description": "Response containing the most-requested assets over the specified period, ranked by request count descending.",
        "properties": {
          "Period": {
            "type": "object",
            "description": "Time period of the report",
            "properties": {
              "Days": {
                "type": "integer",
                "description": "Number of days included in the report",
                "example": 7
              }
            }
          },
          "Assets": {
            "type": "array",
            "description": "Ranked list of top assets by request count",
            "items": {
              "type": "object",
              "description": "A top asset entry with its path and total request count",
              "properties": {
                "Path": {
                  "type": "string",
                  "description": "Asset path",
                  "example": "/akande/v1/logos/logo.svg"
                },
                "Requests": {
                  "type": "integer",
                  "description": "Total request count",
                  "example": 5400
                }
              }
            }
          },
          "DateFetched": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the report was generated",
            "example": "2026-04-04T12:00:00.000Z"
          }
        }
      },
      "GeographyResponse": {
        "type": "object",
        "description": "Geographic distribution of requests over the specified period. Each entry contains an ISO 3166-1 alpha-2 country code and the request count from that country.",
        "properties": {
          "Period": {
            "type": "object",
            "description": "Time period of the report",
            "properties": {
              "Days": {
                "type": "integer",
                "description": "Number of days included in the report",
                "example": 7
              }
            }
          },
          "Countries": {
            "type": "array",
            "description": "Request counts by country, sorted descending by volume",
            "items": {
              "type": "object",
              "description": "Country-level request count entry",
              "properties": {
                "CountryCode": {
                  "type": "string",
                  "description": "ISO 3166-1 alpha-2 country code",
                  "example": "US"
                },
                "Requests": {
                  "type": "integer",
                  "description": "Total requests from this country",
                  "example": 45000
                }
              }
            }
          },
          "DateFetched": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the report was generated",
            "example": "2026-04-04T12:00:00.000Z"
          }
        }
      },
      "ErrorsResponse": {
        "type": "object",
        "description": "Error tracking report showing 4xx/5xx error counts grouped by HTTP status code, with the top paths generating each error type over the specified period.",
        "properties": {
          "Period": {
            "type": "object",
            "description": "Time period of the report",
            "properties": {
              "Days": {
                "type": "integer",
                "description": "Number of days included in the report",
                "example": 7
              }
            }
          },
          "Errors": {
            "type": "array",
            "description": "Error groups, each containing a status code, total count, and top offending paths",
            "items": {
              "type": "object",
              "description": "Error group for a single HTTP status code",
              "properties": {
                "StatusCode": {
                  "type": "integer",
                  "description": "HTTP error status code (4xx or 5xx)",
                  "example": 404
                },
                "Count": {
                  "type": "integer",
                  "description": "Total number of errors with this status code",
                  "example": 230
                },
                "TopPaths": {
                  "type": "array",
                  "description": "Top 10 paths generating this error",
                  "items": {
                    "type": "object",
                    "description": "A path that generated errors with its count",
                    "properties": {
                      "Path": {
                        "type": "string",
                        "description": "Request path that triggered the error",
                        "example": "/missing/asset.png"
                      },
                      "Count": {
                        "type": "integer",
                        "description": "Number of errors for this path",
                        "example": 50
                      }
                    }
                  }
                }
              }
            }
          },
          "Note": {
            "type": "string",
            "description": "Informational note when no errors are tracked",
            "example": "Error tracking populates automatically from middleware analytics."
          },
          "DateFetched": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the report was generated",
            "example": "2026-04-04T12:00:00.000Z"
          }
        }
      },
      "PurgeRequest": {
        "type": "object",
        "description": "Cache purge request. Exactly one of urls, tags, or purge_everything must be specified per request. URLs must start with https://cloudcdn.pro/.",
        "properties": {
          "urls": {
            "type": "array",
            "maxItems": 30,
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Up to 30 URLs to purge. Must start with https://cloudcdn.pro/.",
            "example": [
              "https://cloudcdn.pro/akande/v1/logos/logo.svg"
            ]
          },
          "tags": {
            "type": "array",
            "maxItems": 30,
            "items": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9-]+$"
            },
            "description": "Up to 30 cache tags to purge. Alphanumeric with hyphens only.",
            "example": [
              "project-akande",
              "type-banner"
            ]
          },
          "purge_everything": {
            "type": "boolean",
            "description": "Set to true to purge the entire cache.",
            "example": true
          }
        }
      },
      "PurgeResponse": {
        "type": "object",
        "description": "Response returned after a successful cache purge operation. Contains the purged targets, remaining daily purge quota, and the raw Cloudflare API response.",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the purge operation succeeded",
            "example": true
          },
          "purged": {
            "description": "The URLs, tags, or \"everything\" that was purged",
            "example": [
              "https://cloudcdn.pro/akande/v1/logos/logo.svg"
            ]
          },
          "remaining_today": {
            "type": "integer",
            "description": "Remaining purge requests allowed today",
            "example": 95
          },
          "cloudflare": {
            "type": "object",
            "description": "Raw Cloudflare API response for debugging"
          }
        }
      },
      "AnalyticsReportResponse": {
        "type": "object",
        "description": "Daily analytics report with per-day breakdowns of hits, bandwidth, top assets, geographic distribution, and cache ratios. Data is retained in KV for up to 35 days.",
        "properties": {
          "days": {
            "type": "integer",
            "description": "Number of days included in the report",
            "example": 7
          },
          "data": {
            "type": "array",
            "description": "Per-day analytics entries",
            "items": {
              "type": "object",
              "description": "Analytics data for a single day",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date",
                  "description": "Date in ISO 8601 format",
                  "example": "2026-04-03"
                },
                "hits": {
                  "type": "integer",
                  "description": "Total request hits on this day",
                  "example": 18000
                },
                "bandwidth": {
                  "type": "object",
                  "description": "Bandwidth usage for this day",
                  "properties": {
                    "bytes": {
                      "type": "integer",
                      "description": "Bandwidth in bytes",
                      "example": 768000000
                    },
                    "human": {
                      "type": "string",
                      "description": "Human-readable bandwidth",
                      "example": "732.42 MB"
                    }
                  }
                },
                "top_assets": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer"
                  },
                  "description": "Map of asset paths to their request counts for this day",
                  "example": {
                    "/akande/v1/logos/logo.svg": 1200
                  }
                },
                "geo": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer"
                  },
                  "description": "Map of country codes to their request counts for this day",
                  "example": {
                    "US": 8000,
                    "DE": 3000
                  }
                },
                "cache": {
                  "type": "object",
                  "description": "Cache performance metrics for this day",
                  "properties": {
                    "hit": {
                      "type": "integer",
                      "description": "Number of cache hits",
                      "example": 17000
                    },
                    "miss": {
                      "type": "integer",
                      "description": "Number of cache misses",
                      "example": 1000
                    },
                    "ratio": {
                      "type": "string",
                      "description": "Cache hit ratio as a percentage string",
                      "example": "94.4%"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AnalyticsTrackRequest": {
        "type": "object",
        "description": "Request body for recording a single analytics hit. Typically called by edge middleware to increment daily counters for hits, bandwidth, top assets, geo, and cache status.",
        "properties": {
          "path": {
            "type": "string",
            "description": "Request path to record",
            "example": "/akande/v1/logos/logo.svg"
          },
          "bytes": {
            "type": "integer",
            "description": "Response body size in bytes",
            "example": 4523
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "US"
          },
          "cache": {
            "type": "string",
            "enum": [
              "HIT",
              "MISS"
            ],
            "description": "Cache status",
            "example": "HIT"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "description": "Semantic search results containing matched assets with relevance scores. Results are ranked by score descending, with vector search yielding scores 0.5-1.0 and fuzzy fallback yielding fractional scores.",
        "properties": {
          "results": {
            "type": "array",
            "description": "Matched assets ranked by relevance score",
            "items": {
              "type": "object",
              "description": "A single search result with asset metadata and relevance score",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "File name including extension",
                  "example": "logo.svg"
                },
                "path": {
                  "type": "string",
                  "description": "Full asset path within the CDN tree",
                  "example": "akande/v1/logos/logo.svg"
                },
                "project": {
                  "type": "string",
                  "description": "Project/zone that owns this asset",
                  "example": "akande"
                },
                "category": {
                  "type": "string",
                  "description": "Asset category classification",
                  "example": "logos"
                },
                "format": {
                  "type": "string",
                  "description": "File format/extension",
                  "example": "svg"
                },
                "size": {
                  "type": "integer",
                  "description": "File size in bytes",
                  "example": 4523
                },
                "score": {
                  "type": "number",
                  "description": "Relevance score (0-1). Higher from vector search, fractional from fuzzy.",
                  "example": 0.847
                }
              }
            }
          },
          "query": {
            "type": "string",
            "description": "Original search query",
            "example": "dark blue banking background"
          },
          "count": {
            "type": "integer",
            "description": "Number of results returned",
            "example": 5
          }
        }
      },
      "ChatRequest": {
        "type": "object",
        "description": "Request body for the AI Chat Concierge. Contains the user's message and optional conversation history (last 5 turns are used for context).",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "User message to the concierge",
            "example": "What image formats does CloudCDN support?"
          },
          "history": {
            "type": "array",
            "description": "Previous conversation turns (last 5 are used)",
            "items": {
              "type": "object",
              "description": "A single conversation turn with role and content",
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "user",
                    "assistant"
                  ],
                  "description": "Speaker role: user or assistant",
                  "example": "user"
                },
                "content": {
                  "type": "string",
                  "description": "Message content for this turn",
                  "example": "Tell me about pricing"
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api/assets": {
      "get": {
        "operationId": "listAssets",
        "summary": "List assets",
        "description": "Paginated, filterable asset catalog. Streams JSON for sub-2ms TTFB. Supports filtering by project, category, format, and free-text search. Rate limit: none (public with AccessKey).",
        "tags": [
          "Assets"
        ],
        "security": [
          {
            "AccessKey": []
          }
        ],
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Filter by project/zone name",
            "schema": {
              "type": "string"
            },
            "example": "akande"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by asset category (e.g., logos, banners, icons)",
            "schema": {
              "type": "string"
            },
            "example": "logos"
          },
          {
            "name": "format",
            "in": "query",
            "description": "Filter by file format",
            "schema": {
              "type": "string"
            },
            "example": "svg"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Free-text search against name and path (case-insensitive substring match)",
            "schema": {
              "type": "string"
            },
            "example": "banner"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (1-based)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (1-200)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "example": 50
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "size",
                "project"
              ],
              "default": "name"
            },
            "example": "name"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "example": "asc"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated asset list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "Filters": {
                      "type": "object",
                      "properties": {
                        "Project": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "Category": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "Format": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "Query": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "DateFetched": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "Data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssetEntry"
                      }
                    }
                  }
                },
                "example": {
                  "Pagination": {
                    "Page": 1,
                    "PerPage": 50,
                    "TotalItems": 3,
                    "TotalPages": 1
                  },
                  "Filters": {
                    "Project": "akande",
                    "Category": null,
                    "Format": "svg",
                    "Query": null
                  },
                  "DateFetched": "2026-04-04T12:00:00.000Z",
                  "Data": [
                    {
                      "name": "logo.svg",
                      "path": "akande/v1/logos/logo.svg",
                      "project": "akande",
                      "category": "logos",
                      "format": "svg",
                      "size": 4523
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — invalid parameters or malformed input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 400,
                  "Message": "Invalid request parameters"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid AccessKey",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 401,
                  "Message": "Unauthorized"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited — too many requests. Retry after the cooldown period.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 429,
                  "Message": "Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — unexpected failure at the edge.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 500,
                  "Message": "Internal server error"
                }
              }
            }
          },
          "503": {
            "description": "Asset manifest unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 503,
                  "Message": "Asset manifest unavailable. Please try again later."
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -s -H 'AccessKey: YOUR_ACCESS_KEY' \\\n  'https://cloudcdn.pro/api/assets?project=akande&format=svg&page=1&per_page=50'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const res = await fetch('https://cloudcdn.pro/api/assets?project=akande&format=svg', {\n  headers: { AccessKey: 'YOUR_ACCESS_KEY' }\n});\nconst data = await res.json();\nconsole.log(data.Data);"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nres = requests.get(\n    'https://cloudcdn.pro/api/assets',\n    headers={'AccessKey': 'YOUR_ACCESS_KEY'},\n    params={'project': 'akande', 'format': 'svg'}\n)\nprint(res.json()['Data'])"
          }
        ]
      }
    },
    "/api/assets/metadata": {
      "get": {
        "operationId": "getAssetMetadata",
        "summary": "Get asset metadata",
        "description": "Returns detailed metadata for a single asset including available format variants, CDN URL, and transform URL.",
        "tags": [
          "Assets"
        ],
        "security": [
          {
            "AccessKey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Full asset path from the manifest",
            "schema": {
              "type": "string"
            },
            "example": "akande/v1/logos/logo.svg"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetMetadata"
                },
                "example": {
                  "Path": "akande/v1/logos/logo.svg",
                  "Name": "logo.svg",
                  "Project": "akande",
                  "Category": "logos",
                  "Format": "svg",
                  "Size": 4523,
                  "SizeHuman": "4.4 KB",
                  "ContentType": "image/svg+xml",
                  "CdnUrl": "https://cloudcdn.pro/akande/v1/logos/logo.svg",
                  "TransformUrl": "https://cloudcdn.pro/api/transform?url=/akande/v1/logos/logo.svg",
                  "AvailableFormats": [
                    "svg",
                    "png",
                    "webp"
                  ],
                  "DateFetched": "2026-04-04T12:00:00.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Missing path parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 400,
                  "Message": "Query parameter \"path\" is required"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 401,
                  "Message": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Asset not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 404,
                  "Message": "Asset not found: nonexistent/path.svg"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited — too many requests. Retry after the cooldown period.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 429,
                  "Message": "Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — unexpected failure at the edge.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 500,
                  "Message": "Internal server error"
                }
              }
            }
          },
          "503": {
            "description": "Manifest unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 503,
                  "Message": "Asset manifest unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/api/storage/{path}": {
      "get": {
        "operationId": "storageGetOrList",
        "summary": "List directory or download file",
        "description": "If the path ends with `/` or has no file extension, lists directory contents in Bunny.net-compatible JSON. Otherwise, downloads the file. Auth: AccessKey header or dashboard session cookie.",
        "tags": [
          "Storage"
        ],
        "security": [
          {
            "AccessKey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "description": "Storage path. Trailing slash = directory listing. File extension = download.",
            "schema": {
              "type": "string"
            },
            "example": "clients/akande/v1/logos/"
          }
        ],
        "responses": {
          "200": {
            "description": "Directory listing (JSON array) or file body (binary)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StorageFileEntry"
                  }
                },
                "example": [
                  {
                    "Guid": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "StorageZoneName": "cloudcdn",
                    "Path": "/clients/akande/v1/logos/",
                    "ObjectName": "logo.svg",
                    "Length": 4523,
                    "LastChanged": "2026-04-04T12:00:00.000Z",
                    "ServerId": 0,
                    "ArrayNumber": 0,
                    "IsDirectory": false,
                    "UserId": "cloudcdn",
                    "ContentType": "",
                    "DateCreated": "2026-04-04T12:00:00.000Z",
                    "StorageZoneId": 0,
                    "Checksum": null,
                    "ReplicatedZones": ""
                  }
                ]
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid path (e.g., path traversal attempt)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 400,
                  "Message": "Invalid path: path traversal not allowed"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 401,
                  "Message": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 404,
                  "Message": "File not found"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited — too many requests. Retry after the cooldown period.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 429,
                  "Message": "Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Download failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 500,
                  "Message": "Failed to download file from origin"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "storageUpload",
        "summary": "Upload file",
        "description": "Uploads a file to storage via GitHub API commit. Max file size: 25 MB. Supports optional SHA-256 checksum verification via the Checksum header. Triggers async cache purge on overwrites. Rate limit: none (auth-gated).",
        "tags": [
          "Storage"
        ],
        "security": [
          {
            "AccessKey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "description": "Destination file path",
            "schema": {
              "type": "string"
            },
            "example": "clients/akande/v1/logos/new-logo.svg"
          },
          {
            "name": "Checksum",
            "in": "header",
            "required": false,
            "description": "SHA-256 hex digest for integrity verification",
            "schema": {
              "type": "string"
            },
            "example": "E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Raw file bytes",
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadResponse"
                },
                "example": {
                  "HttpCode": 201,
                  "Message": "File uploaded successfully",
                  "Path": "akande/v1/logos/new-logo.svg",
                  "Length": 8192,
                  "Checksum": null,
                  "DateCreated": "2026-04-04T12:00:00.000Z",
                  "EdgeStatus": "pending",
                  "EdgeNote": "File committed to repository. It will be available at the edge after the CI/CD pipeline deploys (~60-90 seconds)."
                }
              }
            }
          },
          "400": {
            "description": "Invalid path or checksum mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 400,
                  "Message": "Checksum mismatch: expected E3B0C4... got A1B2C3..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 401,
                  "Message": "Unauthorized"
                }
              }
            }
          },
          "409": {
            "description": "Git conflict from concurrent upload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 409,
                  "Message": "Conflict: another upload modified the tree. Retry or use /api/storage/batch for concurrent uploads."
                }
              }
            }
          },
          "413": {
            "description": "Payload too large (max 25 MB)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "HttpCode": {
                      "type": "integer",
                      "example": 413
                    },
                    "Message": {
                      "type": "string"
                    },
                    "MaxSize": {
                      "type": "integer",
                      "example": 26214400
                    }
                  }
                },
                "example": {
                  "HttpCode": 413,
                  "Message": "Payload too large. Maximum file size is 25 MB.",
                  "MaxSize": 26214400
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited — too many requests. Retry after the cooldown period.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 429,
                  "Message": "Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — unexpected failure at the edge.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 500,
                  "Message": "Internal server error"
                }
              }
            }
          },
          "501": {
            "description": "Upload backend not configured (GITHUB_TOKEN/GITHUB_REPO missing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 501,
                  "Message": "Upload backend not configured"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway — upstream service (GitHub/Cloudflare API) returned an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 502,
                  "Message": "Upstream service error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "curl",
            "label": "cURL",
            "source": "curl -X PUT \\\n  -H 'AccessKey: YOUR_ACCESS_KEY' \\\n  -H 'Content-Type: application/octet-stream' \\\n  --data-binary @logo.svg \\\n  'https://cloudcdn.pro/api/storage/clients/akande/v1/logos/new-logo.svg'"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "const file = await Deno.readFile('logo.svg'); // or fs.readFileSync\nconst res = await fetch('https://cloudcdn.pro/api/storage/clients/akande/v1/logos/new-logo.svg', {\n  method: 'PUT',\n  headers: { AccessKey: 'YOUR_ACCESS_KEY', 'Content-Type': 'application/octet-stream' },\n  body: file\n});\nconsole.log(await res.json());"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nwith open('logo.svg', 'rb') as f:\n    res = requests.put(\n        'https://cloudcdn.pro/api/storage/clients/akande/v1/logos/new-logo.svg',\n        headers={'AccessKey': 'YOUR_ACCESS_KEY', 'Content-Type': 'application/octet-stream'},\n        data=f.read()\n    )\nprint(res.json())"
          }
        ]
      },
      "delete": {
        "operationId": "storageDelete",
        "summary": "Delete file",
        "description": "Deletes a file from storage via GitHub API commit. Triggers async cache purge.",
        "tags": [
          "Storage"
        ],
        "security": [
          {
            "AccessKey": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "description": "File path to delete",
            "schema": {
              "type": "string"
            },
            "example": "clients/akande/v1/logos/old-logo.svg"
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                },
                "example": {
                  "HttpCode": 200,
                  "Message": "File deleted successfully",
                  "Path": "akande/v1/logos/old-logo.svg",
                  "EdgeStatus": "purging",
                  "EdgeNote": "File removed from repository and edge cache purge initiated."
                }
              }
            }
          },
          "400": {
            "description": "Invalid path",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 400,
                  "Message": "Invalid path: path traversal not allowed"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 401,
                  "Message": "Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "File not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 404,
                  "Message": "File not found"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limited — too many requests. Retry after the cooldown period.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 429,
                  "Message": "Rate limit exceeded"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error — unexpected failure at the edge.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "HttpCode": 500,
                  "Message": "Internal server error"
                }
[...]
